Source: nymea-coap
Section: utils
Priority: optional
Maintainer: Simon Stuerz <simon.stuerz@nymea.io>
Build-Depends: debhelper (>= 9.0.0),
  dpkg-dev (>= 1.16.1~),
  qt5-default,
  qtbase5-dev,
Standards-Version: 3.9.7

Package: coap-cli
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends}
  libqt5network5,
  libnymea-coap (= ${binary:Version}),
Description: Command line interface for interacting with a CoAP server
  Command line interface for interacting with a CoAP server based on Qt 5.

Package: libnymea-coap
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends},
  libqt5network5
Description: Qt 5 based library for CoAP
  Qt 5 based library for CoAP.

Package: libnymea-coap-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends},
  libnymea-coap (= ${binary:Version})
Description: Qt 5 based library for CoAP - development files
  Development files for Qt 5 based CoAP library.

Package: libnymea-coap-dbg
Priority: extra
Architecture: any
Section: debug
Depends: ${shlibs:Depends},
  ${misc:Depends},
  libnymea-coap (= ${binary:Version})
Description: Qt 5 based library for CoAP - debug symbols
  Debug Symbols for Qt 5 based CoAP library.


Package: libnymea-coap-tests
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends},
  libnymea-coap (= ${binary:Version})
Description: Tests for the qtcoap library
  Test executable for the Qt 5 based CoAP library.
