#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

PREPROCESS_FILES := $(wildcard debian/*.in)

$(PREPROCESS_FILES:.in=): %: %.in
	sed 's,/@DEB_HOST_MULTIARCH@,$(DEB_HOST_MULTIARCH:%=/%),g' $< > $@



override_dh_install: $(PREPROCESS_FILES:.in=)
	dh_install

override_dh_auto_test:
	make test

override_dh_strip:
	dh_strip --dbg-package=libnymea-coap1-dbg

%:
	dh $@ --buildsystem=qmake --parallel
